{%extends 'base.html'%}

{%block main_block%}
<div class="container">
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table table-dark">
                <h1 class="text-center p-2">completed Todo List</h1>
                <tr>
                    <th>title</th>
                    <th>status</th>
                    <th>created date</th>
                    <th>Action</th>
                    
                </tr>
                {%for item in completed%}
                <tr>
                    <td>{{item.title}}</td>
                    <td>
                        {%if item.status == False%}
                          In Progress
                        {%else%}  
                          Completed
                        {%endif%}
                
                    </td>
                    <td>{{item.created_date}}</td>
                    <td>
                        <a href="{%url 'todo-delete' item.id%}" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                    </td>
                    
                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-3"></div>

    </div>

</div>

{%endblock%}